<a href="blogpage">
	<div class="spc_hero_article" data-module="spc_hero_article">		
		<article style="background-image:url({{ spc_hero_article.image }});">
			<div>
				<div>
					<h2>{{ spc_hero_article.heading }}</h2>
					<p>{{ spc_hero_article.ingress }}</p>
					<hr />
					<h5>{{ spc_hero_article.author }} {{ spc_hero_article.date }}</h5>
				</div>
				<div>
					{% for tag in spc_hero_article.tags %}
						<div><p>{{ tag }}</p></div>
					{% endfor %}
				</div>
				<div></div>
			</div>
		</article>
	</div>
</a>